#login_info { font-weight: bold; font-size: 14pt; background: url(../images/login_info.gif) no-repeat; width: 409px; height: 101px; padding: 83px 290px 60px 32px; margin: 100px auto 0 auto; }
@media handheld, only screen and (max-device-width: 600px) {
	#login_info{font-weight:normal;font-size:1em; background:url(../images/login_info_mini.gif) no-repeat; width:100%; height:100%; padding: 32px 0px; margin: 0; }
}